.products-container {
    display: flex;
    flex-direction: row;     
    gap: 30px;               
    justify-content: center; 
    padding: 20px;
}

.product-card {
    width: 230px;
    text-align: center;
    
}


.img-box {
    position: relative; 
    width: 230px;
    height: 230px;
}

.img-box img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease;
}

.img1 { opacity: 1; }
.img2 { opacity: 0; }

.img-box:hover .img1 { opacity: 0; }
.img-box:hover .img2 { opacity: 1; }

.info {
    margin-top: 15px;
}

.info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.info p {
    font-size: 16px;
}
